
.a{
   visibility:visible;
}
.b{
    visibility: hidden;
}
tr.collapse{
    visibility: collapse; 

}
table,td{
    border: 2px dotted skyblue;
}
#c1{
    width: 200px;
     display:block;
    border: 2px solid red;
}
#c2{
    
    display:inline;
    border: 2px solid rgb(226, 136, 17);
}
p{
    display: none;
}
#c3{
    display: contents;
  
}
#c4{
    display: list-item;
}